---
title: Welcome to EADhost, Free Hosting for Archives and Special Collections
---

<div class="jumbotron color3">
<h1 style="text-align: center;">Free EAD Hosting</h1>
</div>
  <p>In order to qualify for free hosting, descriptions of archival collections must meet the following conditions:</p>
<div class="conditions">
  <div class="condition1 color4">Files must be valid <a href="http://www.loc.gov/ead/">EAD XML</a> version 
<a href="http://www.loc.gov/ead/ead2002a.html">2002 DTD</a> or <a href="http://www.loc.gov/ead/eadschema.html">2002 XSD</a> version checked with <a href="http://github.com/eadhost/eadator">eadhost/eadator</a>.</div>
  <div class="condition2">Files must be made available under a <a href="http://creativecommons.org/about/cc0">CC0 license</a>.</div>
  <div class="condition3">Files must describe materials made accessible under archival control or otherwise advance the <a href="http://www.archivists.org">archival profession.</a></div>
</div>

